@{
    Layout = "~/Views/Shared/_HomePage.cshtml";

    ViewData["Title"] = "Home Page";

}

<div class="text-center">
    <h1 class="display-4">مرحبا بكم في منصه الموقع التعليمي لتقويم طلاب الفرقه الرابعه تكنولوجيا المعلومات في مقررات الفصل الدراسي الاول</h1>
</div>
